/**************** common css start ****************/
/* line 3, G:/admin_project/8 admin/management_html/scss/_reset.scss */
.crm_body_bg {
  font-family: "Mulish", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  position: relative;
  background: #3a4d97;
}

.side-nav-container {
  background-color: black;
  width: 300px;
  height: 100vh;
  color: #fff;
  position: relative;
  transition: 0-4s;
}

.nav-upper,
.nav-heading {
  display: grid;
}
.side-nav-container-NX {
  width: 85px;

}
.nav-heading {
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 1fr;
  height: 75px;
}

.nav-brand {
  display: flex;
}

.hamburger {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto -35px;
  background-color: rgb(74, 74, 79);
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 90px;
  height: 71px;
  width: 74px;
}

.hamburger span {
  display: block;
  margin-top: 5px;
  background-color: #47484d;
  border-radius: 15px;
  height: 4px;
  width: 30px;
  transition: 0.4s;
  
}

.hamburger:hover span {
  margin: auto;
  
}

.hamburger-in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}

.hamburger-in:hover span:nth-child(2) {
  display: none;
}

.hamburger-in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}


.hamburger-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(2) {
  display: none;
}

.hamburger-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(30deg);
}