
/* Login.css */

.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #F5EFE7;
	font-family: Arial, sans-serif;
}

.login-box {
	background-color: #E1D1C7;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 500px;
	border: 2px solid #3E5879;
}

.login-title {
	text-align: center;
	/* margin-bottom: 30px; */
	color: #3E5879;
	font-weight: bold;
}

.login-input {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 16px;
  }
  

.login-button {
	width: 100%;
	padding: 12px;
	border-radius: 4px;
	border: none;
	background-color: #3E5879;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
}
.password-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
  }
  
  .login-input {
	width: 100%;
	padding: 10px 40px 10px 10px; 
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
  }
  
  .eye-icon {
	position: absolute;
	right: 15px;
	cursor: pointer;
	font-size: 18px;
	color: #555;
  }

  
  