.table-sm td, .table-sm th {
    padding: 0.75rem;
  }
@media (max-width: 768px) {
  .custom-scrollbar {
    padding-bottom: 150px; /* enough room for buttons/messages */
  }
}

@media (max-width:824px) {
  .purchase_pagination {
    padding-bottom:200px;
  }
}
  