.table-sm td, .table-sm th {
    padding: 0.75rem;
  }
@media (max-width: 768px) {
  .purchase_pagination {
    padding-bottom: 120px;
  }
}
@media (max-width:824px) {
  .purchase_pagination {
    padding-bottom:155px;
  }
}
  