/* loader.css */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(112, 109, 109, 0.85); /* Dark background for better visibility */
  z-index: 9999;
}

.rotating-cube {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  animation: rotate 1.5s infinite linear;
}

.rotating-cube div {
  position: absolute;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #3498db, #f39c12);
  opacity: 0.8;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rotating-cube div:nth-child(1) { transform: rotateY(0deg) translateZ(25px); }
.rotating-cube div:nth-child(2) { transform: rotateY(90deg) translateZ(25px); }
.rotating-cube div:nth-child(3) { transform: rotateY(180deg) translateZ(25px); }
.rotating-cube div:nth-child(4) { transform: rotateY(270deg) translateZ(25px); }

@keyframes rotate {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
